.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 1rem 0;
    background-color: $whiteColor;
    border-bottom: 1px solid $borderColor;
    
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: $mainFontColor;
    font-weight: 700;

    &:hover {
        color: $mainFontColor;
        text-decoration: none;
    }

  }
  
  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 1.5rem;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .navbar-link {
    display: block;
    transition: all 0.2s ease;
    color: $primaryColor;
    // active link
    &.isActive,
    &.router-link-active,
    &.router-link-exact-active {
      text-decoration: underline;
    }
  }