$mainFont: 'Raleway', sans-serif;

// Size
$mainFontColor: #202020;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;

$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$primaryColor: #0d6efd;
$whiteColor: #FFFFFF;
$borderColor: #c0c0c0